{% extends "layout.html" %}

{% block title %}
    Add/Remove Cash
{% endblock %}

{% block main %}
    <form action="/cash" method="post">
        <div>
            <p>To <b>add</b>, input a positive number. To <b>remove</b>, input a negative integer</p>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="cash" placeholder="Cash" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add/Remove</button>
    </form>
{% endblock %}
