{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div>
            <p>
                Password must contain at least <b>1 uppercase alphabet</b>, <b>1 lowercase alphabet</b> and <b>1 number</b> and <b>1 special character</b> ( @ or $ or _ )<br>
                Password length must be at least 8 characters long.
            </p>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
